.mancala-board {
  padding: 5em;
}

.pits {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.pits .col {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

h2 {
  padding: 10px;
  transition: all 1s;
}

h2.current {
  transition: all 1s;
  background: #0F635B;
  color: #fff;
}
