.pits {
  display: flex;
  align-items: stretch;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pits ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pits .col {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.pits p {
  font-weight: 400;
  font-size: 1.3em;
}

h2 {
  padding: 10px;
  transition: all 1s;
}

h2.current {
  transition: all 1s;
  background: #0F635B;
  color: #fff;
}
