.mancala-board {
  padding: 5em;
}

.pits {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.pits .col {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
