
.pit {
  width: 6.25em;
  height: 6.25em;
  border-radius: 3.125em;
  border: 1px solid;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 12px;
  align-items: center;
  transition: all 1s;
  box-shadow: 0;
}

.pit.store {
  height: 15.625em;
}

.pit.highlight {
  animation: greenFlash 3s;
}

.pit.enabled {
  box-shadow: 0 0 10px #000, 0 0 0 2px #0F635B;
  transition: all 1s;
}

@keyframes greenFlash {
  0% {
    box-shadow: 0 0 0 6px #0F635B;
  }

  100% {
    box-shadow: 0;
  }
}
